<div class="not-found">
  <div class="container">
		<div class="logo"></div>
		<div class="space-404"></div>
		<h2>houston, we have a problem!</h2>
		<h3>Sorry, we can’t seem to find the page that you’re looking for.</h3>
		<a href="/" class="button">BACK TO DASHBOARD</a>
  </div>
</div>


