<div class="not-found">
  <div class="container">
		<div class="logo"></div>
		<div class="error-500"></div>
		<h2>houston, we have a problem!</h2>
		<h3>Sorry, we encountered an internal server error. Please try again later.</h3>
  </div>
</div>