nav {
	background-color: $white;
	/* overflow: hidden; */
	height: 60px;
	line-height: 60px;
	padding: 0 4%;
	box-shadow: 2px 0 10px 0 rgba(0,0,0,0.1);

	margin-bottom: 5%;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 

	position: relative;
  z-index: 1000;

	a {
		color: $gray-nav-text;
		font-family: $input-font;
		font-size: 14px;
	}

	a:hover {
		color: $corn-flower-blue;
	}

	.selected {
		color: $corn-flower-blue;
	}

	.nav-container {
		max-width: 1150px;
		margin: 0 auto;
	}

	.nav-logo {
		background: url(#{$img-dir}rocket-equities-dark.png) no-repeat center center; 
	  -webkit-background-size: contain;
	  -moz-background-size: contain;
	  -o-background-size: contain;
	  background-size: contain;

	  height: 30px;
    margin: 15px auto;
    width: 150px;
    display: inline-block;
    border: 0;
    float: left;
	}

	.nav-wide {
		display: none;
		margin: 0 auto;

		.wide {
			text-align: right;

			a {
				text-decoration: none;
				display: inline-block;
				padding: 0 20px;
			}
		}

		.wide a:last-child {
			padding-right: 0;
		}
	}

	.nav-narrow {

		i {
			float: right;
			cursor: pointer;
			color: $gray-nav-text;
			line-height: 60px;
		}

		.hamburger-link {
			display: none;

	    height: auto;
	    background: $white;
	    color: $gray-nav-text;

	    position: absolute;
	    width: 100%;
	    left: 0;
	    top: 60px;
	    padding: 0 10%;

			a {
				text-decoration: none;
				display: block;
				float: left;
				clear: left;
				padding: 2px 0;
    		height: 40px;
			}

			a:last-child {
				padding-bottom: 25px;
			}
		}
	}
}

@media screen and (min-width: 39.9375em) {
		nav {
			margin-bottom: 2%;
			height: 80px;
			line-height: 80px;
			padding: 0 10%;

			.nav-logo {
				margin: 25px auto;
				width: 168px;
			}

			.nav-wide {
				display: block;
			}

			.nav-narrow {
				display: none;
			}
		}
}